@page
@model WesternInn_Jason_James_Tin.Pages.Rooms.BookRoomModel
@{
    ViewData["Title"] = "Book a Room";
}

<h2>Book a Room</h2>
<br />

<form asp-page="BookRoom">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group m-3">
        <label asp-for="BookRoomInput.RoomIdInput" class="control-label fw-bold"></label>
        <select asp-for="BookRoomInput.RoomIdInput" asp-items="ViewBag.RoomIdList" class="form-control">
        <span asp-validation-for="BookRoomInput.RoomIdInput" class="text-danger"></span>
        </select>
    </div> 
    <div class="form-group m-3">
        <label asp-for="BookRoomInput.CheckInInput" class="control-label fw-bold"></label>
        <input asp-for="BookRoomInput.CheckInInput" class="form-control" />
        <span asp-validation-for="BookRoomInput.CheckInInput" class="text-danger"></span>
    </div>
    <div class="form-group m-3">
        <label asp-for="BookRoomInput.CheckOutInput" class="control-label fw-bold"></label>
        <input asp-for="BookRoomInput.CheckOutInput" class="form-control" />
        <span asp-validation-for="BookRoomInput.CheckOutInput" class="text-danger"></span>
    </div>
    <div class="form-group m-2">
        <input type="hidden" asp-for="Booking.Cost" value="1" class="form-control" />
    </div>
    <div class="form-group m-2">
        <input type="hidden" asp-for="Booking.GuestEmail" value="dummy@dummy.edu" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Book a Room" class="btn btn-primary" />
    </div>
</form>
            
@if (Model.BookingResult != null)
{
    <div>
        <hr />
        @if (Model.BookingResult.Count > 0)
        {
            <h4>
                Sorry, your booking isn't available. Please try again.
            </h4>
        }
        else if (ViewData["SuccessBooking"] != null)
        {
            <hr />
            <h5>
                Thanks. You have successfully made your booking for room @ViewData["RoomID"] at level @ViewData["Level"] from @ViewData["CheckIn"] to @ViewData["CheckOut"] at total cost $@ViewData["Cost"].
            </h5>
        }
    </div>
}

@* Inlcude JavaScript for client-side vaildations.*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}